body{
font-family:Arial, sans-serif;
margin:0;
background:#0f172a;
color:white;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:#020617;
}

.logo{
color:#38bdf8;
}

.nav-links{
display:flex;
gap:25px;
list-style:none;
}

.nav-links a{
text-decoration:none;
color:white;
}

/* HERO */

.hero{
text-align:center;
padding:120px 20px;
}

.hero h1{
font-size:48px;
margin-bottom:10px;
}

.hero p{
max-width:600px;
margin:auto;
color:#94a3b8;
}

.hero-buttons{
margin-top:30px;
display:flex;
justify-content:center;
gap:20px;
}

.btn{
background:#38bdf8;
padding:12px 25px;
border-radius:6px;
text-decoration:none;
color:black;
font-weight:bold;
}

.btn-secondary{
border:1px solid #38bdf8;
padding:12px 25px;
border-radius:6px;
text-decoration:none;
color:#38bdf8;
}

/* FEATURES */

.features{
padding:80px 20px;
text-align:center;
}

.feature-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:30px;
max-width:900px;
margin:auto;
margin-top:40px;
}

.card{
background:#020617;
padding:25px;
border-radius:10px;
border:1px solid #1e293b;
}

/* CTA */

.cta{
text-align:center;
padding:80px 20px;
background:#020617;
}

/* FOOTER */

footer{
text-align:center;
padding:30px;
color:#94a3b8;
}
